@import url('https://googleapis.com');


@mixin body-font($family: ('Plus Jakarta Sans', sans-serif), $weight: 400, $size: 1rem, $line-height: 1.5) {
	font-family: $family;
	font-weight: $weight;
	font-size: $size;
	line-height: $line-height;
}

@mixin header-font($family: ('Quicksand', sans-serif), $weight: 700, $size: 2rem, $line-height: 2) {
	font-family: $family;
	font-weight: $weight;
	font-size: $size;
	line-height: $line-height;
}

body {
	@include body-font;
}

.heading {
	@include header-font;
}
